@page
@model IndexModel
@{
    ViewData["Title"] = "Home page CNLR";
}

<div class="text-center">
    <h1 class="display-4">Colegiul National "Liviu Rebreanu" Bistrita</h1>
    <h2>Pagina de administrare a orarului scolii</h2>
</div>
